<mat-card style="width: 50%; margin: auto;">
    <section class="mat-typography">
        <h3>Confirm Your Information</h3>
    </section>
    <mat-divider></mat-divider>
    <br>
    <form [formGroup]="confirmForm" class="confirm-form">
        <mat-form-field style="width: 40%">
            <input matInput placeholder="First Name" formControlName="confirmFirstName" [value]='confirmInfoObject.FirstName' readonly #first>
        </mat-form-field>

        <mat-form-field class="spacing" style="width: 40%">
            <input matInput placeholder="Last Name" formControlName="confirmLastName" [value]='confirmInfoObject.LastName' readonly #last>
        </mat-form-field>

        <mat-form-field style="width: 40%">
            <input matInput placeholder="Address" formControlName="confirmAddress" [value]='confirmInfoObject.Address' readonly #address>
        </mat-form-field>

        <mat-form-field class="spacing" style="width: 40%">
            <input matInput placeholder="City" formControlName="confirmCity" [value]='confirmInfoObject.City' readonly #city>
        </mat-form-field>

        <mat-form-field style="width: 40%">
            <input matInput placeholder="State" formControlName="confirmState" [value]='confirmInfoObject.State' readonly #state>
        </mat-form-field>

        <mat-form-field class="spacing" style="width: 40%">
            <input matInput placeholder="Zip" formControlName="confirmZip" [value]='confirmInfoObject.ZipCode' readonly #zip>
        </mat-form-field>

        <mat-form-field style="width: 40%">
            <input matInput placeholder="County" formControlName="confirmCounty" [value]='confirmInfoObject.County' readonly #county>
        </mat-form-field>
        
        <br>

        <mat-form-field style="width: 40%">
            <input matInput placeholder="DOB" formControlName="confirmDOB" [value]='confirmInfoObject.DOB' readonly #dob>
        </mat-form-field>

        <mat-form-field class="spacing" style="width: 40%">
            <input matInput placeholder="Phone" formControlName="confirmPhone" [value]='confirmInfoObject.PhoneNumber' readonly #phone>
        </mat-form-field>

        <mat-form-field class="spacing" style="width: 40%">
            <input matInput placeholder="Children" formControlName="confirmChildren" [value]='confirmInfoObject.childString' readonly #children>
        </mat-form-field>
        <br>
        <button mat-raised-button style="width: 200px; background-color: #A2C93A; color: white" class="right" (click)="back(first.value, last.value, address.value, city.value, state.value, zip.value, county.value, dob.value, phone.value, confirmInfoObject.id)">Back</button>
        <button mat-raised-button style="width: 200px; background-color: #A2C93A; color: white" class="right" (click)="submit(first.value, last.value, address.value, city.value, state.value, zip.value, county.value, dob.value, phone.value, confirmInfoObject.id); openSnackBar('Person Added!', 'Close')">Submit</button>
    </form>
</mat-card>
