/* You can add global styles to this file, and also import other style files

#fc7a7c -- red


*/

html { height: 100%; background-color: #c7ef96;}
body { margin: 0;
     font-family: "Times New Roman", Times, serif;
    padding: 25px;
 }


