<div>
 <mat-card>        
        <h1 style="text-align: center; font-size: 200%; color:rgb(0, 0, 0); font-family:spinnaker,sans-serif">About</h1>
        <p style="margin-left: 100px; margin-right: 100px; text-align: center; color:rgb(0, 0, 0)">The Diaper Bank is a
                diaper distribution program for families in the inner city of Irvington, NJ. Since the Diaper Bank first
                opened in October
                2015, we’ve served a total of 761 babies (who met age and documentation requirements) a total of 2,395
                times. The total number of diapers
                distributed over the lifetime of the program is 82,486. We serve an average of 83 babies per
                distribution, and our records indicate that we
                currently have 360 babies who are eligible to receive aid. Our next distribution date is on Friday,
                September 27, 2019, and will be held once per
                month during the school’s 2019-2020 academic calendar.
                The Diaper Bank is a partnership between (1) Community Church, Short Hills, (2) the Irvington school
                district, and (3) the Community Food
                Bank of New Jersey. We are tax-exempt as a registered non-profit organization through permit number
                EO-221-551-927/000.
                The Diaper Bank is staffed by volunteers from Community Church, high school students from the Imani
                Program in Irvington (an outreach
                program for at-risk teens), and staff from the Irvington school district. It is operated by the staff of
                Community Church and the Superintendent
                of the Irvington school district.</p>
 </mat-card>
</div>
<br>

<div>
        <mat-card style="width: 200px; text-align: center; margin: auto; align-content: center;">
        <p>Postal codes provided by SimpleMaps </p>
        <p *ngIf="showit">Do you wish to leave DiaperBank?</p>
        <a href="https://simplemaps.com/data/us-cities" *ngIf="showit">SimpleMaps</a> 
        <button mat-button color='primary' (click)="show()">Toggle Link View</button>         

        </mat-card>

</div>